@{
}
@* Pass in the entire model so multiple pieces of information can be used in the view page *@
@model BooksViewModel

<h1>The Bookstore Project</h1>

@* for each loop that creates a tag for each book based on the Book model *@
@foreach (Book b in Model.Books)
{
    <partial name="BookSummary" model="b" />
}


<div page-information="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outsmallne-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>





